p{
    color:black;
}


.callout-container {
    height: 100vh;

    background:no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 10;
    z-index: 1;
}

.display-front{
    z-index: 2;
}

.title{
    letter-spacing: 2px;
    font-weight: 500;
}

.bluebtn{
    background-color: #6f08ff ;
    border: solid 2px #ffffff;
    color: white;
}

.bluebtn:hover{
    border: solid 2px #6200EE;
    color: #ffffff;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}

.button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: 500;
    letter-spacing: 2px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.buttonsm {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    vertical-align: middle;
    font-weight: 400;
    letter-spacing: 2px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.center{
    text-align: center;
}

.flashcon{
    background-color: #6200EE;
    color: white;
}

.formcol{
    padding-top: 50px;

}

.headingtop{
    margin-top: 30px;
    padding-left: 80px;
}

.headingtopcenter{
    padding-top: 30px;
    margin: auto;
}

.leftside{
    padding-left: 80px;
    width: 50px;
}

.profileentry{
    padding-top: 50px;
    padding-bottom: 50px;

}

.bold{
    font-weight: 800;
    letter-spacing: 3px;
}

.right{
    margin-left: 200px;
}

.bottom{
    margin-bottom: 50px;
}

.top{
    padding-top: 30px;
}

.black{
    color: black !important;
    text-decoration: underline !important;

}




