{% extends "base.html" %}
{% block content %}
{% if profile.user_type == "player" %}
<div class="container-fluid headingtop">
    <div class="row">
        <div class="col">
            <h2 class="title">Edit Profile</h2>
        </div>
    </div>
</div>
<div class="container-fluid formcol">
    <div class="row">
        <form class="col-md-6 offset-md-3" method="POST"
            action="{{ url_for('update_profile', profile_id=profile.profile_id)}}">
            <!-- name -->
            <div class="mb-3 col-md-6">
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" name="name" value="{{ profile.name }}" class="form-control" minlength="3"
                    maxlength="15">
            </div>
            <!-- date of birth -->
            <div class="mb-3 col-md-6">
                <label for="DOB" class="form-label">Date Of Birth</label>
                <input type="date" id="DOB" name="DOB" value="{{ profile.DOB }}" class="form-control" required>
            </div>
            <!-- gender -->
            <div class="mb-3 col-md-6">
                <label for="gender" class="form-label">Gender</label>
                <input type="text" id="gender" name="gender" value="{{ profile.gender }}" class="form-control"
                    minlength="3" maxlength="25" pattern="^[a-zA-Z0-9]{3,25}$">
            </div>
            <!-- current team -->
            <div class="mb-3 col-md-6">
                <label for="current_team" class="form-label">Current Team</label>
                <input type="text" id="current_team" name="current_team" value="{{ profile.current_team }}"
                    minlength="5" maxlength="15" class="form-control">
            </div>
            <!-- bio -->
            <div class="mb-3 col-md-6">
                <label for="bio" class="form-label">Bio</label>
                <input type="text" id="bio" name="bio" value="{{ profile.bio }}" class="form-control" minlength="5"
                    maxlength="425">
            </div>
            <button type="submit" class="bluebtn button">Submit</button>
        </form>
    </div>
</div>

{% else %}

<div class="container-fluid headingtop">
    <div class="row">
        <div class="col">
            <h2 class="title">Edit Profile</h2>
        </div>
    </div>
</div>
<div class="container-fluid formcol">
    <div class="row">
        <form class="col-md-6 offset-md-3" method="POST"
            action="{{  url_for('update_profile', profile_id=profile.profile_id) }}">
            <!-- name -->
            <div class="mb-3 col-md-6">
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" name="name" value="{{ profile.name }}" class="form-control" minlength="3"
                    maxlength="15">
            </div>
            <!-- gender -->
            <div class="mb-3 col-md-6">
                <label for="gender" class="form-label">Gender</label>
                <input type="text" id="gender" name="gender" value="{{ profile.gender }}" class="form-control"
                    minlength="3" maxlength="25" pattern="^[a-zA-Z0-9]{3,25}$">
            </div>
            <!-- cert -->
            <div class="mb-3 col-md-6">
                <label for="cert" class="form-label">Cert</label>
                <input type="text" id="cert" name="cert" value="{{ profile.cert }}" minlength="5" maxlength="15"
                    class="form-control">
            </div>
            <!-- bio -->
            <div class="mb-3 col-md-6">
                <label for="bio" class="form-label">Bio</label>
                <input type="text" id="bio" name="bio" value="{{ profile.bio }}" class="form-control" minlength="5"
                    maxlength="425">
            </div>
            <button type="submit" class="bluebtn button">Submit</button>
        </form>
    </div>
</div>

{% endif %}


{% endblock %}