{% extends "base.html" %}
{% block content %}
<div class="container-fluid headingtop">
    <div class="row">
        <div class="col">
            <h2 class="title">Edit Event</h2>
        </div>
    </div>
</div>
<div class="container-fluid formcol">
    <div class="row">
        <form class="col-md-6 offset-md-3" method="POST" action="{{ url_for('update_event', event_id=event.event_id)}}">
            <!-- profile pic -->
            <div class="mb-3 col-md-6">
                <label for="eventname" class="form-label">Event Name</label>
                <input type="text" id="eventname" name="eventname" value="{{ event.name }}" class="form-control" minlength="3" maxlength="30">
            </div>
            <!-- name -->
            <div class="mb-3 col-md-6">
                <label for="eventtime" class="form-label">Event Time</label>
                <input type="text" id="eventtime" name="eventtime" value="{{ event.time }}" class="form-control" minlength="3" maxlength="30" >
            </div>
            <!-- event location -->
            <div class="mb-3 col-md-6">
                <label for="eventlocation" class="form-label">Event Location</label>
                <input type="text" id="eventlocation" name="eventlocation" value="{{ event.location }}" class="form-control" minlength="3" maxlength="30"  >
            </div>
            <button type="submit" class="bluebtn button">Submit</button>
        </form>
    </div>
</div>
{% endblock %}