{% extends "base.html" %}
{% block content %}
<!-- Header -->
<div class="container-fluid callout-container header">


    <section class="callout jumbotron text-center">
        {% if session.user %}
        <h1 class="p-light p-dark jumbotron-header heading logo-font">Identify | Link | Talent</h1>
        <p class="lead phead">Welcome to Player Link</p>
        <a class="bluebtn button" href="{{ url_for('profile' , username=session.user) }}"> My Profile</a>
        {% else %}
        <h1 class="p-light p-dark jumbotron-header heading logo-font">Identify | Link | Talent</h1>
        <p class="lead phead">Welcome to Player Link We are a Football agencey connecting players and scouts togeather.<br>Create an account now and start your scouting experience.</p>
        <a class="bluebtn button mt-2" href="{{ url_for('register') }}">register</a>
        {% endif %}
    </section>
</div>

{% endblock %}



