{% extends "base.html" %}
{% block content %}
<!-- Header -->
<div class="container-fluid callout-container header">


    <section class="callout jumbotron text-center">
        {% if session.user %}
        <h1 class="p-light p-dark jumbotron-header heading logo-font">Identify | Link | Talent</h1>
        <p class="lead phead">Welcome to Player Link</p>
        <button class="bluebtn button"><a href="" class="register">My Profile</a></button>
        {% else %}
        <h1 class="p-light p-dark jumbotron-header heading logo-font">Identify | Link | Talent</h1>
        <p class="lead phead">Create an account now and start your scouting experience</p>
        <button class="bluebtn button"><a href="{{ url_for('register') }}" class="register">register</a></button>
        {% endif %}
    </section>
</div>

{% endblock %}



