{% extends "base.html" %}
{% block content %}
{% if profile.user_type == "player" %}
<h2>Player Profile</h2>

<button><a href="{{ url_for('edit_profile') }}">edit Profile</a></button>

        {{ profile.username }}<br>     
        {{ profile.name }}<br>
        {{ profile.DOB }}<br>
        {{ profile.current_team }}<br>
        {{ profile.gender }}<br>
        {{ profile.user_type }}<br>

<h2>Events</h2>

<button><a href="{{ url_for('create_event') }}">Create Event</a></button>

<table class="table">
        <thead>
                <tr>
                        <th scope="col">Event Name</th>
                        <th scope="col">Time</th>
                        <th scope="col">Location</th>
                        <th scope="col">Player</th>
                        <th scope="col"></th>
                </tr>
        </thead>
        <tbody>
                {% for event in events %}
                <tr>
                        <td>{{ event["name"] }}</td>
                        <td>{{ event["time"] }}</td>
                        <td>{{ event["location"] }}</td>
                        <td>{{ event["player"] }}</td>
                        <td>
                            <button><a href="{{ url_for('edit_event', event_id=event._id) }}">Edit</a></button>
                            <button><a href="{{ url_for('delete_event', event_id=event._id)  }}">Delete</a></button>

                        </td>
                        
                </tr>
                {% endfor %}
        </tbody>
</table>

{% else %}
<h2>Scout Profile</h2>

        <button><a href="{{ url_for('edit_profile')}}">edit Profile</a></button>

        {{ profile.user }}<br>      
        {{ profile.name }}<br>
        {{ profile.cert }}<br>
        {{ profile.gender }}<br>
        {{ profile.user_type }}<br>

        <h2>Search</h2>

        <form action="{{ url_for('read_profile', username=profile.user, user_type=profile.user_type)  }}" method="POST">
                <input type="text" name="query" id="query" >
                <label for="query">Search for players</label>
                <button>Search</button>
        </form>
        <tr>
        {% for user in users %}
            <td><button><a href="{{ url_for('player_profile', username=user.username)}}">{{ user.username }}</a></button></td><br>   
        {% endfor %}
        </tr>

{% endif %}

<button><a href="{{ url_for('logout') }}">logout</a></button>

{% endblock %}