{% extends "base.html" %}
{% block content %}
<div class="container-fluid headingtop">
    <div class="row">
        <div class="col">
            <h2 class="title">Register</h2>
        </div>
    </div>
</div>
<div class="container-fluid formcol">
    <div class="row">
        <form class="col-md-6 offset-md-3" method="POST" action="{{ url_for('register')}}">
            <!-- player or scout -->
            <div class="mb-3 col-md-6">
                <select class="form-select" name="user_type" aria-label="Default select example " required>
                    <option value="" disabled selected>Please Select</option>
                    <option value="player">Player</option>
                    <option value="scout">Scout</option>
                </select>
            </div>
            <!-- username -->
            <div class="mb-3 col-md-6">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" class="form-control" minlength="3" maxlength="15"
                    pattern="^[a-zA-Z0-9]{3,15}$" required>
            </div>
            <!-- name -->
            <div class="mb-3 col-md-6">
                <label for="name" class="form-label">Full name</label>
                <input type="text" id="name" name="name" class="form-control" minlength="3" maxlength="25" required>
            </div>
            <!-- password -->
            <div class="mb-3 col-md-6">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" minlength="5" maxlength="15"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                <p></p>
            </div>
            <!-- messages -->
            <div id="message" class="messages">
                <p class="md">Password must contain the following:</p>
                <p id="letter" class="invalid sm">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid sm">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid sm">A <b>number</b></p>
                <p id="length" class="invalid sm">Minimum <b>8 characters</b></p>
            </div>
            <!-- submit -->
            <button type="submit" class=" bluebtn button">Submit</button>
            <div class="col">
                <p><a class="black" href="{{ url_for('login')}}">login</a></p>
            </div>
        </form>
    </div>
</div>
<!-- Thanks to w3schools where I got this code -->
<script>
var myInput = document.getElementById("psw");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");

// When the user clicks on the password field, show the message box
myInput.onfocus = function() {
  document.getElementById("message").style.display = "block";
}

// When the user clicks outside of the password field, hide the message box
myInput.onblur = function() {
  document.getElementById("message").style.display = "none";
}

// When the user starts to type something inside the password field
myInput.onkeyup = function() {
  // Validate lowercase letters
  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {  
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
  }
  
  // Validate capital letters
  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {  
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }

  // Validate numbers
  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {  
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }
  
  // Validate length
  if(myInput.value.length >= 8) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }
}
</script>
{% endblock %}